/* Import Font Style */
@import url("https://fonts.googleapis.cm/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* Custom Variables */
:root {
  --custom-dark: #222831;
  --custom-light: #ffffff;
  --custom-primary: #eca72c;
  --custom-secondary: #8b9467;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 transition-all ease-out
  }
  html,body{
    @apply bg-light dark:bg-dark text-dark dark:text-light 
  }
  html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  }
  body{
    @apply bg-default text-default 
  }
  main {
    @apply min-h-screen z-0;
  }
}

@layer components {
  .defaultContainer {
    @apply 2xl:container 2xl:mx-auto px-3 md:px-5 xl:px-10 2xl:px-0;
  }
  .defaultTitle{
      @apply font-bold text-[var(--custom-primary)]
  }
  /* Custom Backgrounds Colors*/
  .bg-primary{
    @apply bg-[var(--custom-primary)]
  }
  .bg-secondary{
    @apply bg-[var(--custom-secondary)]
  }
  .bg-light{
    @apply bg-[var(--custom-light)]
  }
  .bg-dark{
    @apply bg-[var(--custom-dark)]
  }
  .bg-default{
    @apply bg-light dark:bg-dark
  }
  /* Custom Text Colors */
  .text-primary{
    @apply text-[var(--custom-primary)]
  }
  .text-secondary{
    @apply text-[var(--custom-secondary)]
  }
  .text-light{
    @apply text-[var(--custom-light)]
  }
  .text-dark{
    @apply text-[var(--custom-dark)]
  }
  .text-default{
    @apply text-dark dark:text-light
  }

  /* Buttons */
  .btn{
    @apply font-semibold px-5 py-3 rounded-lg hover:shadow-md hover:font-semibold focus:outline-none
  }
  .btn-primary{
    @apply bg-primary text-dark
  }
  .btn-secondary{
    @apply bg-secondary text-dark
  }
  .btn-light{
    @apply bg-light text-dark
  }
  .btn-dark{
    @apply bg-dark text-light
  }

  .btn-outline-primary{
    @apply bg-transparent border-2 border-[var(--custom-primary)] text-primary hover:bg-[var(--custom-primary)] hover:text-light hover:border-transparent
  }

  /* Links */
  .link{
    @apply hover:opacity-65
  }
  .link-primary{
    @apply text-primary
  }
  .link-secondary{
    @apply text-secondary
  }
  .link-light{
    @apply text-light
  }
  .link-dark{
    @apply text-dark
  }

  /* headers */
  h1, .h1{
    @apply text-4xl md:text-5xl lg:text-6xl
  }
  h2, .h2{
    @apply text-3xl md:text-4xl lg:text-5xl
  }
  h3, .h3{
    @apply text-2xl md:text-3xl lg:text-4xl
  }
  h4, .h4{
    @apply text-xl md:text-2xl lg:text-3xl
  }
  h5, .h5{
    @apply text-lg md:text-xl lg:text-2xl
  }
  h6, .h6{
    @apply text-base md:text-lg lg:text-xl
  }

  /* Cards */
  .card {
    @apply shadow-lg bg-default rounded-md bg-default border
  }
}
